* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section {
  height: 90vh;
  width: 100%;
  font-family: 'Helvetica';
  padding-top: 200px;
  padding-left: 120px;
  overflow: hidden;
  @media screen and (max-width: 960px) {
    padding-left: 20px;
  }
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.section__left {
  @media screen and (max-width: 960px) {
    display: none;
  }
}

.section__right {
  margin-left: 4vw;
  height: 100%;
  @media screen and (max-width: 960px) {
    width: 100%;
    margin-left: 0px;
  }
}
.section__images-wrapper {
  height: 100%;
  position: relative;
  cursor: grab;
  user-select: none;
  overflow: hidden;
  padding-right: 18vw;
  &.is-grabbing {
    cursor: grabbing;
    .section__image-bg {
      transform: scale(1.1);
    }
  }
}
.section__images {
  height: 100%;
  display: flex;
  width: fit-content;
  will-change: transform;
}
.section__image {
  height: 100%;
  @media screen and (max-width: 960px) {
    width: 235px;
  }
  overflow: hidden;
  transition: transform 0.6s ease;
}

.section__image + .section__image {
  margin-left: 32px;
}

.section__image-bg {
  background-repeat: no-repeat;
  transition: transform 0.6s ease;
  background-size: cover;
  background-position: 50% 0%;
  background-color: gray;
  height: 100%;
  width: 35.10417vw;
  @media screen and (max-width: 960px) {
    width: 235px;
  }
}
